
.btn{
    background-color: floralwhite;
    color: burlywood;
}

h1, h2, h4 {
    color: burlywood;
}

#head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: rgb(158, 195, 207);
    color:white
}