body{
    background-color: antiquewhite;
}


.btn{
    background-color: floralwhite;
    color: burlywood;
}

h1, h2, h4 {
    color: burlywood;
}

h4{
    margin-bottom: 10px;
}

#head{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:100%;
    background-color:antiquewhite;
    color:burlywood;
    margin-bottom: 10px;
}

iframe{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img-top{
    height:400px;
    width:100%;
}

.card{
    border:0;
}